﻿@model _10dt.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.primaryAccountStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryAccountStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinceState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provinceState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socialInsuranceNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socialInsuranceNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marriage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marriage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maritalStatusChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maritalStatusChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.citizenshipStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citizenshipStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spouseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spouseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorizeCRAInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorizeCRAInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blacklistedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blacklistedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blacklistedStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blacklistedStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
